//
//  {{ prefix }}{{ module_info.name }}{{ module_info.file_name }}
//  {{ module_info.project_name }}
//
//  Created by {{ developer.name }} on {{ date }}.
//  Copyright © {{ year }} {{ developer.company }}. All rights reserved.
//

import Foundation

final class {{ module_info.name }}Assembler {
    static func createModule() -> {{ module_info.name }}ViewController {
        let viewController = {{ module_info.name }}ViewController()
        let interactor = {{ module_info.name }}Interactor()
        let presenter = {{ module_info.name }}Presenter(interactor, viewController)
        viewController.presenter = presenter
        return viewController
    }
}
