//
//  {{ module_info.name }}{{ module_info.file_name }}
//  {{ module_info.project_name }}
//
//  Created by {{ developer.name }} on {{ date }}.
//  Copyright © {{ year }} {{ developer.company }}. All rights reserved.
//

import Foundation

final class {{ module_info.name }}Presenter {

    private let interactor: {{ module_info.name }}InteractorInput
    private unowned let view: {{ module_info.name }}PresenterOutput

    init(_ interactor: {{ module_info.name }}InteractorInput, _ view: {{ module_info.name }}PresenterOutput) {
        self.interactor = interactor
        self.view = view
    }

    func viewDidLoad() {
        interactor.attach(self)
    }

}

extension {{ module_info.name }}Presenter: {{ module_info.name }}PresenterInput {

}

extension {{ module_info.name }}Presenter: {{ module_info.name }}InteractorOutput {

}
